.App{
  margin-top: 1em;
  display:grid;
  grid-template: 1fr/1fr; 
  place-items: center; 
}
.App > *{
  grid-column: 1/1; 
  grid-row: 1/1; 
}

.App.screenContainer{
  z-index: 2
}
.App.fnBtn{
  z-index: 1;
}
.App.pet{
  z-index:3;
}
.screenContainer{
  height: 60%; 
  width: 32%; 
  background-color: lightgrey; 
  border: 2px solid black;
  display: flex;
  display: grid;
  grid-template-rows: 15% 70% 15%;
  padding: 10px;
}
.screenItem {
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  text-align: center;
}

.pet{
  width:100px; height:100px; background-color: lightpink;
}

.egg{
    width: 440px;
    height: 500px;
    background-color: lightblue;
    -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    box-shadow: 5px 10px lightgrey;
}

i{ 
  color: black;
}
.fnBtn{
  background-color:lightgrey;
  border: none; 
  padding: 1.5em;
}

.left, 
.select, 
.right{
  height: 25px;
  width: 25px;
  background-color:white;
  border-radius: 50%;
  display: inline-block;
  /* position: relative; */
  vertical-align: middle;
}